extends layout

block content
  h1 Project Barbosa
  a.btn.btn.btn-lg.btn-primary(href='/trip/create') Create new Trip

  if user
    .alert.alert-success.animated.fadeInUp
      i.fa.fa-check
      strong Success!
      |  You are logged in.
