<h2>Trip</h2>

<form {{action save on="submit"}}>

  <div class='form-group'>
    <label for="name">Name</label><br>
    {{view Ember.TextField valueBinding="name" id="name" classNames='form-control'}}
  </div>

  <button type="submit" class='btn btn-default'>Save</button>

</form>

