<div class='row'>
  <div class="col-md-6">
    <h2>Trips</h2>
  </div>
  <div class="col-md-6">
    {{#linkTo "new_trip" classNames="btn btn-primary pull-right"}}Create New Trip{{/linkTo}}
  </div>
</div>

<table class="table table-hover">
  <thead>
    <th>ID</th>
    <th>Name</th>
  </thead>
  <tbody>
    {{#each trip in controller}}
    <tr>
      <td>{{#linkTo "trip" trip}}{{ trip.id }}{{/linkTo}}</td>
      <td>{{ trip.name }}</td>
    </tr>
    {{/each}}
  </tbody>
</table>


